extends layout

block content
	div#initialize_content
		= appData
	.jumbotron
		.container
			h1 Todo With A Twist
				span.glyphicon.glyphicon-pencil
	.container
		div.app
	script(id="tasktemplate", type="text/x-handlebars")
		{{title}}