doctype html
html
	head
		title= Todo With a Twist
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(src="/javascripts/lib/underscore.min.js")
		script(src="/javascripts/lib/jquery.min.js")
		script(src="/javascripts/lib/backbone.min.js")
		script(src="/javascripts/client.js")
		script(src="/javascripts/init.js")
